@model ClarkCodingChallenge.Models.Contact
@{
}

<h1>Add Contact</h1>
<form method="post" action="Add">
    <label for="">First Name:</label><br>
    <input type="text" asp-for="FirstName"><br>
    <label for="">Last Name:</label><br>
    <input type="text" asp-for="LastName"><br>
    <label for="">Email:</label><br>
    <input type="email" asp-for="Email"><br>
    <button type="submit">Submit</button><br>
</form>