@{
    ViewData["Title"] = "Contacts Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert">
        @TempData["AlertMessage"]
    </div>
}

<a asp-area="" asp-controller="Contacts" asp-action="Add">Add Contact</a>